@import "tailwindcss";
@plugin "@tailwindcss/forms";

@import "@skeletonlabs/skeleton";
@import "@skeletonlabs/skeleton-svelte";
@import "@skeletonlabs/skeleton/themes/cerberus";

@custom-variant dark (&:where([data-mode="dark"], [data-mode="dark"] *));
[data-theme="cerberus"] body {
    --body-background-color: var(--color-surface-100);
    --body-background-color-dark: var(--color-surface-950);
}

@layer components {
    @keyframes target-pulse {
        0% {
            background-color: var(--color-warning-200-800);
            background-opacity: 0.4;
        }
        100% {
            background-color: transparent;
        }
    }

    .highlight-target:target {
        animation: target-pulse 3s cubic-bezier(0.4, 0, 0.2, 1);
    }

    [data-table-container] {
        @apply w-full overflow-x-auto rounded-lg border shadow-lg;
        @apply border-surface-200-800 bg-surface-50-950 lg:w-fit lg:min-w-md;
    }

    /* Paradigm Table Styling */
    [data-table-theme="paradigm"] {
        @apply w-full table-auto border-collapse text-left text-xs lg:text-base;

        & thead th {
            @apply bg-primary-100-900 border-primary-300-700 text-surface-contrast-50-950/80 border-b-2 px-3 py-2 font-bold tracking-wider uppercase lg:px-4 lg:py-3;
        }

        & tbody tr {
            @apply border-surface-200-800 hover:bg-primary-500/5 border-b transition-colors last:border-b-0;
        }

        & tbody tr.separator {
            @apply border-surface-400-600 border-b-2;
        }

        & tbody td {
            @apply px-3 py-2 lg:px-4 lg:py-3;
        }

        & col.label-col {
            @apply bg-primary-100-900/30 w-0.5;
        }

        & tbody td.label {
            @apply w-px font-medium whitespace-nowrap;
        }

        & tbody td.header {
            @apply font-bold;
        }
    }
}
